---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Claro club - {title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/fav.ico" />
  </head>
  <body class="bg-white text-white">
    <ClientRouter />
    <Header />
    <slot transition:name="slide"/>
    <Footer />
  </body>
</html>
